# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
*.tsbuildinfo

# next.js generated
next-env.d.ts

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/
