---
import PocketBase from 'pocketbase';
import Case from '../components/react/Case.jsx';
const pb = new PocketBase('http://127.0.0.1:8090');

export interface Params {
  id: string;
}
const { id } = Astro.params;
---

<div>
  <Case id={id} client:load />
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80vw;
    margin: 10px;
  }
</style>
