---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Case Management</h1>
    <ul>Case ID</ul>
    <ul>Docket Number</ul>
    <ul>Defendant</ul>
    <ul>Offense Date</ul>
    <h2>Charges</h2>
    <ul>Theft less than $1000</ul>
    <div class="event-list">
      <h2>Events</h2>
      <ul>Arraignment</ul>
      <ul>72 hour hearing</ul>
      <ul>Trial</ul>
      <ul>Pre-Trial</ul>
    </div>
  </main>
</Layout>

<style></style>
